<h1> Estas logueado como : </h1>

    Empresa = {{empresa}}
    <br>
    Nickname = {{nickname}}
    <br>
    Email = {{email}}
    <br>
    Perfil = {{perfil}}
    <br>
    _id = {{_id}}
    <br>


<a href="lista"> Ver lista </a>
<br>
<a class="btn btn-primary" href="/logout" role="AgregarUser">Salir</a>